.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  width: 50%;
  height: 80%;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.infoContainer > div {
  display: flex;
}

.infoContainer > div:first-child {
  height: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.infoContainer > div:last-child {
  height: 70%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.infoContainer > div:last-child span {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
}